.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(37, 38, 39, 0.644);
  width: 95dvw;
  max-width: 600px;
  height: fit-content;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}
.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 100px;
  border-radius: 30px;
  border: 3px solid black;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 10px #000000;
  img {
    cursor: default;
    height: 50%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.685);
  }
  .bar {
    background-color: rgba(0, 0, 0, 0.637);
    min-width: 5px;
    height: 100%;
  }
  p {
    cursor: pointer;
    text-wrap: nowrap;
    overflow: hidden;
    background-color: rgba(139, 46, 46, 0);
    padding: 100px 500px 100px 10px;
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
  }
}
.contactItem:hover img {
  background-color: rgba(46, 139, 86, 0);
}
.contactItem:hover p {
  background-color: rgba(255, 255, 255, 0.685);
  color: black;
  text-decoration: underline 2px;
}
.email {
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 40px;
  a {
    color: rgb(173, 93, 2);
    font-weight: bolder;
    text-decoration: none;
  }
}
