.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: rgba(37, 38, 39, 0.644);
  width: 95dvw;
  max-width: 600px;
  height: fit-content;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px #000000;
}
h1 {
  font-size: 2.5em;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
  font-style: italic;
  opacity: 0.5;
  letter-spacing: 8px;
}
.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}
.skillItem {
  cursor: default;
  background-color: #00000069;
  box-shadow: 0 0 10px #000000;
  margin-bottom: 20px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 46%;
  min-width: 250px;
  border: 5px solid;
  transition: transform 0.2s ease-in-out;

  img {
    margin-left: 20px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    transition: transform 1s ease;
  }
  p {
    margin-left: 20px;
    align-self: center;
  }
}
.skillItem:hover {
  transform: scale(1.03);
  img {
    transform: rotate(360deg);
  }
}
